<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header col-xs-12">
      <a class="navbar-brand logo" href="/">
        <span>Node todo</span>
      </a>
      <button type="button" onclick="window.location.replace('http://localhost:3000/signin');" class="btn btn-default pull-right navbar-btn">Sign in</button>
    </div>
  </div>
</nav>
