  <div class="list-group col-md-3">
    <span class="trnd-head"><h4>Trending</h3></span>
    <div class="row">
      <% for(var i=0; i<3; i++) {%>
        <div method="POST" class="col-xs-8 col-md-8 new-box">
        <a href="/title" class="">
        <img src="<%=posters[i]%>" alt="trending">
        <div class="caption">
        <h6><%=names[i]%></h6>
        <hr>
        </div>
        </a>
        </div>
        <% } %>
    </div>
  </div>
