html {
    position: relative;
    font-family: "Playfair Display", Sans-Serif;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: #e2e2e2;
}

/*.form-control {
  margin-bottom: 4%;
}*/

.boards{
  min-height: 80%;
}

#inp1, #inp2, #inp3{
  margin: 6% 4% 4% 30%;
  outline: none;
}

#inp4{
  margin: 10% 2% 2% 20%;
  outline: none;
}

.side-bar{
  min-height: 80%;
  margin-top: 4%;
}

.hex-box {
  outline: none;
  padding-left: 2%;
  padding-right: 2%;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: inherit;
}

.board{
  background-color: #fff;
  min-height: 30px;
  margin: 1%;
  border: 1px solid #eee;
  border-radius: 5px;
}

.board1, .board2{
  /*margin-right: 2%;*/
}

/*.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 300px;
  margin: 1rem;
  position: relative;
  width: 300px;
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}*/

/* color pallet */

.colors-list {
  cursor: pointer;
  width: 10px;
  height: 10px;
  list-style-type: none;
  float: left;
		margin: 1.5px;
		border: 1px solid #e2e2e2;

}

.color-box{
  display:none;
  width: 150px;
  height: 165px;
		background: #F3F3F3;
		padding: 5px;
		border: 5px solid #fff;
		box-shadow: 0px 0px 3px 1px #DDD;
		position: absolute;
		top: 41px;
		left: 35px;
}

.color-selector{
  background: #fff;
		cursor: pointer;
		border: 1px solid #999;
		width: 25px;
		height: 25px;
		float: left;
		margin-left: 5px;
}

.color-hex{
  width: 110px;
  margin-left: 15px;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  text-transform: uppercase;
}



.form-group{
  margin-top: 5%;
}

.log-button{
  padding-left: 30%;
}

.social-sign{
  margin-bottom: 4%;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    /*height: 60px;*/
    background-color: #eee;
}
footer p {
    line-height: 40px;
    color: white;
    text-decoration: none;
}
footer a {
    color: #424242;
    text-decoration: none;
}

footer a:hover {
    color: #424242;
    text-decoration: none;
}
