<html lang="en">
<% include ../partials/header %>

  <body>
    <% include ../partials/nav %>
    <div class="container">
      <div class="row col-md-12 boards">
        <div class="col-md-3 board1 board">
          <h5 class="text-center">To Do</h5>
          <div id='cont1'></div>
          <button id='inp1' class='btn'>New Task</button>
        </div>
        <div class="col-md-3 board2 board">
          <h5 class="text-center">Doing</h5>
          <div id='cont2'></div>
          <button id='inp2' class='btn'>New Task</button>
        </div>
        <div class="col-md-3 board3 board">
        <h5 class="text-center">Done</h5>
        <div id='cont3'></div>
        <button id='inp3' class='btn'>New Task</button>
        </div>
        <div class="col-md-2 side-bar">
          <form class="tag-form" action="/" method="post">
            <input type="text" autocomplete="off" class="col-md-9 hex-box" id="tagname" name="tagname" placeholder="Enter tag name">
            <div class="color-box">
            <input class="color-hex" type="hidden" name="p" value=""/></div>
            <div class="color-selector col-md-3"></div>
          <button id='inp4' class='btn btn-info btn-xs'>Add New Tag</button>
          </form>







        </div>
        <div class="col-md-2">

        </div>
      </div>
    </div>
      <!--  -->
      <% include ../partials/footer %>
        <% include ../partials/scripts %>
  </body>

</html>
